*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #121212;
    font-family: Maven Pro, sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100vh;
}
.box1, .box2, .box3, .box4, .box5{
    background-color: aliceblue;
    border-radius: 1rem;
}
.box1{
    height: 30rem;
    width: 20rem;
}
.col2{
    display: flex;
    flex-direction: column;
}
.box2{
    width: 30rem;
    height: 19.75rem;
    margin-bottom: 0.5rem;
}
.c2r1{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.box3{
    width: 14.75rem;
    height: 9.75rem;
}
.col3{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.box4{
    width: 14.75rem;
    height: 9.75rem;
}
.box5{
    width: 14.75rem;
    height: 19.75rem;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}