/* INDEX.HTML CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #121212;
    font-family: Oswald, sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100vh;
}
.box1, .box2, .box3, .box4, .box5, .box31{
    background-color: aliceblue;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.box1{
    height: 30rem;
    width: 20rem;
}

    
.col2{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.box2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 9.875rem;
    font-size: 8rem;
    background: linear-gradient(to left, aliceblue 50%, black 50%);
    background-size: 200% 100%;
    background-position: right;
    color: black;
    transition: background-position 1s ease-in-out, color 1s ease-in-out;
}

.box2 a {
    text-decoration: none;
    color: black;
}


.box2:hover {
    background-position: left;
    color: white;
}
.box6{
    width: 14.75rem;
    height: 18.25rem;
}
.c2r1{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.c2r1c1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.box3{
    width: 14.75rem;
    height: 9.65rem;
}
.box31{
    height: 19.75rem;
    width: 14.75rem;
}
.col3{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.box4{
    width: 14.75rem;
    height: 9.75rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 4rem;
    background: linear-gradient(to right, aliceblue 50%, black 50%);
    background-size: 200% 100%;
    background-position: left;
    color: black;
    transition: background-position 1s ease-in-out, color 1s ease-in-out;
}
.box4:hover {
    background-position: right;
    color: white;
}
.box5{
    width: 14.75rem;
    height: 19.75rem;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: transform 0.5s ease-in-out;
}

.img:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100vw;
        height: 80vh;
        overflow: hidden; /* Adish will continue from here :) */
    }
}

/* HOME.HTML */

nav {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 5rem;
    justify-content: space-around;
    color: white;
    width: 100vw;
}

.navInfoMobile {
    display: none;
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transform-origin: left;
    transition: width 0.3s ease-in-out;
}

nav a:hover::before {
    width: 100%;
}

.userInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

@media screen and (max-width: 768px) {

    nav {
        padding: 0.8rem 2rem;
        justify-content: space-between;
    }

    .navInfo {
        display: none;
    }

    .navInfoMobile {
        display:block;
        font-size: 24px;
    }

    nav a::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transform-origin: left;
        transition: width 0.3s ease-in-out;
    }
    
    nav a:hover::before {
        width: 100%;
    }

}