@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
body 
{
    height: 100vh;
    width: 100%;
    background-color: #121212;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:relative;
}
h1
{
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}
p
{
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 1.1rem;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
a.Home
{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    display: block;
    text-align: center;
}
a.Home:hover
{
    color: #e6f241;
    text-decoration: underline;
}
a.Home:active
{
    color: #fd1e1e;
    text-decoration:dotted;
    transform: matrix(1.1,0,0,1.1,0,0);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3.5rem;
}

.grid-item {
    background-color: #fff;
    padding: 1.5rem;
    text-align: center;
}

.grid-item span {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}
img.clothes
{
    width: 70%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}
img.clothes:hover
{
    transform:matrix(1.3,0,0,1.1,0,0);
}


