@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #121212;
  font-family: Oswald, sans-serif;
  position: relative;
}

/* Wrapper for Flexbox Layout */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100vh;
  width: 100%;
}

/* Box Styles */
.box1, .box2, .box3, .box4, .box5, .box31 {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

/* Column Styles */
.col1 {
  height: 66%;
  width: 20%;
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  height: 66%;
}

.col3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 66%;
  width: 15.5%;
}

/* Box2 Hover Effect */
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  background: linear-gradient(to left, aliceblue 50%, black 50%);
  background-size: 200% 100%;
  background-position: right;
  color: black;
  transition: background-position 1s, color 1s;
}

.box2:hover {
  background-position: left;
  color: white;
}

.col2 a {
  text-decoration: none;
  transition: background-position 1s, color 1s;
}

/* Row and Column Styles */
.c2r1 {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  height: 64%;
}

.c2r1c1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  height: 100%;
}

.box31 {
  height: 100%;
  width: 50%;
}

/* Box4 Hover Effect */
.box4 {
  height: 32.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  background: linear-gradient(to right, aliceblue 50%, black 50%);
  background-size: 200% 100%;
  background-position: left;
  color: black;
  transition: background-position 1s, color 1s;
}

.box4:hover {
  background-position: right;
  color: white;
}

.box5 {
  height: 67.5%;
}

/* Image Hover Effect */
.img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: transform 0.5s;
}

.img:hover {
  transform: scale(1.1);
}

/* Content Section */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 100%;
}

.title {
  font-size: 5vw;
  text-align: center;
}

.content p {
  padding: 2rem;
  font-size: 1.7rem;
  text-align: center;
}

.socials {
  width: 30%;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  margin-bottom: 3rem;
}

/* Products Section */
.products {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
  height: auto;
  padding: 2rem;
  box-sizing: border-box;
}

.product-category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  width: 100%;
}

.product-category-grid img {
  width: 100%;
  height: auto;
  transition: 0.5s;
  object-fit: cover;
}

.product {
  position: relative;
  overflow: hidden;
}

.product-hover {
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.product img {
  height: 100%;
  object-fit: cover;
}

.product:hover img {
  opacity: 0.3;
}

.product:hover .product-hover {
  opacity: 1;
}

.text {
  background-color: #6f6f6f;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 0.5rem;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
  .col3, .col1{
    display: none;
  }
  .col2{
    width: 90%;
  }
  .wrapper {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
  }

  .product-category-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .products {
    padding: 1rem 2rem;
  }

  .product img {
    height: 100%;
    object-fit: cover;
  }

  .content {
    height: 100%;
    position: relative;
  }

  .title {
    font-size: 2.7rem;
  }

  .content p {
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
  }

  .socials {
    width: 90%;
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    margin-bottom: 3rem;
  }
}

/* Navigation Styles */
nav {
  font-family: Oswald, sans-serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  padding: 0.8rem 5rem;
  justify-content: space-around;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(18px) saturate(0%);
  -webkit-backdrop-filter: blur(18px) saturate(0%);
  background-color: rgba(18, 18, 18, 0.75);
}

.navInfoMobile {
  display: none;
}

.navInfo {
  position: relative;
  color: white;
  text-decoration: none;
}

.navInfo::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transform-origin: left;
  transition: width 0.3s;
}

.navInfo:hover::before {
  width: 100%;
}

.userInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

/* Media Query for Navigation on Smaller Screens */
@media screen and (max-width: 768px) {
  nav {
    padding: 0.8rem 2rem;
    justify-content: space-between;
  }

  .navInfo {
    display: none;
  }

  .navInfoMobile {
    display: block;
    font-size: 24px;
  }
}

/* Footer CSS here */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  border-top: 1px solid #6f6f6f;
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  height: 40vh;
  max-height: 100%;
  width: 100%;
}

footer p {
  color: #6f6f6f;
}

.footer-links {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 2rem 0rem;
}

.social-media {
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .footer-links {
    width: 80%;
  }

  .footer-links a {
    display: block;
  } 

  .social-media {
    width: 70%;
  }
}

@keyframes appear{
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.content{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
.products{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}